$red-color: #bb2a29;
$black-color: #000;
$grey-color: #f4f5fd;
$lt-gray-color: #f5f5f5;
$grey-color2: #dadada;
$grey-color3: #f9f9f9;
$grey-color4: #e6e6e6;
$grey-color5: #767676;
$grey-color6:#ecedef;
$grey-color7:#272727;
$grey-color8:#333333;
$white-color: #fff;
$orange-color:#faa41a;
$green-color:#00bc0d;
$dark-orange:#df4a32;
$orange-color:#faa41a;
$blue-color:#32487e;
$primary-color: $black-color;
$background-color: $red-color;
$secondary-color: $grey-color;
$border-color: $grey-color2;
$body-bg: $grey-color3;